
MainPanel {
layout: horizontal;
height: 4fr;
}

UserInputArea {
border: wide red;
}

Button {
width: 1fr;
}

DataWindow {
width: 0.9fr;
border: wide red;
}
OutputWindow {
width: 1fr;
border: wide blue;
}

OutputPanel {
width: 1.1fr;
border: wide purple;
}

InstructionsWindow {
width: 1fr;
border: wide green;
}

#products, #reactants, #output {
border: wide white;
height: 1fr;
}